<p>
  Create Employee
</p>
<form action="">
  <div class="form group">
    <label for="">Emp No:</label>
    <input type="text" class="form-control" name="emp_no" [(ngModel)]=newEmployee.emp_no>
  </div>
  <div class="form group">
    <label for="">First Name</label>
    <input type="text" class="form-control" name="fname" [(ngModel)]=newEmployee.fname >
  </div>
  <div class="form group">
    <label for="">Last Name</label>
    <input type="text" class="form-control" name="lname" [(ngModel)]=newEmployee.lname>
  </div>
<input type="submit" value="Create Employee" class="btn btn-sm btn-info" (click)=createEmployee()/>
</form>
